# Hugo build output
/public/
resources/
/hugo_stats.json
/.hugo_build.lock

# Hugo caches
.hugo_cache/
/.cache/

# OS-specific
.DS_Store
Thumbs.db
ehthumbs.db

# IDE/editor
.vscode/
.idea/
*.swp
*.swo

# Node / npm
node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock

# Logs and temporary files
*.log
*.tmp
*.bak

# Other build systems
dist/
build/
tmp/
out/

# Content
/content/
data/
.hugo_build.lock

# Dev
public_test/
todo.md

# Docs
docs/.vitepress/cache/
docs/.vitepress/dist/